<!-- <div class="popular_on_recipes">       
  <div class="popular_all_recipes">
     <ul class="recipes-js">
       <li>
         <img
        src="https://www.themealdb.com/images/media/meals/uuuspp1468263334.jpg"
        alt="title"
         />
         <button type="button">heart</button>
         <h2>title</h2>
         <p>description</p>
         <p>rating</p>
         <button type="button"></button>
       </li>
     </ul>
  </div>
</div> -->


<!-- /*  останній запис в проект 26,07,23 - 0.30*/ -->

<!-- <div class="popular_on_recipes">       
  <div class="popular_all_recipes">
     <ul class="recipes-js">
       <li>
        <div id="text_from_above">
          
         <div class="text_from_above">
           <button type="button">heart</button>
           <div>
              <h2>title</h2>
              <p>description</p>
              <p>rating</p>
           </div>
           
           <button type="button"></button>
         </div>
         
        </div>
         
       </li>
     </ul>
  </div>
</div> -->

/*     ha 27.07.23 - 0.45   */

<!-- <div class="popular_on_recipes">
  <div class="popular_all_recipes">
    
    <ul class="recipes-js"> 
            
    </ul>
  </div>
</div> -->

<!-- /*  останній запис в проект 27,07,23 - 13.30*/ -->

<div class="popular_on_recipes">
  <div class="popular_all_recipes">
    
    <ul class="recipes-js"> 
            
    </ul>
  </div>
</div>


<!-- <svg class="recipes_icon_heart" width="24" height="24">
                      <use href="/src/images/off.svg">
                      </use>
                    </svg> -->


<!-- <svg class="recipes_icon_heart" width="24" height="24">
                      <use href="/src/images/off.svg">
                      </use>
                    </svg> -->